/* settings popup */
.popup-container{
	background:rgba(0,0,0,.8);
	position: absolute;
	z-index: 2;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
.popup-window{
	width:800px;
	min-width: 350px;
	background:#fff;
	border-radius:6px;
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	z-index: 3;
	box-sizing: border-box;
}
header.popup{
	height:46px;
	box-sizing: border-box;
	padding:10px 15px;
	line-height: 24px;
	font-size: 1.2em;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom:solid 1px #cfcfcf;
background: #fcfcfc; /* Old browsers */
background: -moz-linear-gradient(top, #fcfcfc 0%, #efefef 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fcfcfc 0%,#efefef 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fcfcfc 0%,#efefef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}
.popup-window .close{
	position: absolute;
	right:15px;
	top:15px;
	cursor:pointer
}
.form-container{
	width:500px;
	padding:50px;
	margin:0px auto;
}
.form-row{
	display: flex;
	padding:7px 0;
}
.form-row label{
	flex: 4
}
.form-row .input-field{
	flex:6;	
}
.form-row .input-field select{
	width:100%;
	padding:11px 8px;
	border-radius: 4px;
	font-size: 1em;
	-moz-box-shadow:inset 0 0 10px rgba(0,0,0,.16);
   -webkit-box-shadow:inset 0 0 10px rgba(0,0,0,.16);
   box-shadow:inset 0 0 10px rgba(0,0,0,.16);
   -webkit-box-sizing: border-box;
	box-sizing: border-box;
	border:solid 1px rgba(91,91,91,.33);
}
.popup-button-row{
	text-align: center;
	padding-top: 5px;
}
.popup-button-row .btn{
	color:#ffffff;
	border:solid 1px #3776ce;
	padding:12px 20px;
	border-radius: 3px;
	font-size: 1em;
	min-width:100px;
	background: rgb(7,100,204); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(7,100,204,1) 1%, rgba(41,140,252,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(7,100,204,1) 1%,rgba(41,140,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(7,100,204,1) 1%,rgba(41,140,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0764cc', endColorstr='#298cfc',GradientType=1 ); /* IE6-9 */
	-moz-box-shadow:inset 0 0 6px rgba(255,255,255,.78);
   -webkit-box-shadow:inset 0 0 6px rgba(255,255,255,.78);
   box-shadow:inset 0 0 6px rgba(255,255,255,.78);
   cursor: pointer;
}
	/* up to 768 width */
    @media (max-width: 1091px) {
        .popup-window{
            width:80%;
        }	
    }
    
    @media (max-width: 768px) {
        .form-row{
            display: block;
        }
        .popup-window{
            padding:20px
        }
        .form-container{
            width: 100%;
        }
        .form-row label{
            padding-bottom:5px;
            display: block;
        }
    }
  
